*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper::before{
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(29, 213, 19),rgb(26, 228, 77));
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.formContainer{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signContainer{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    padding: 0 5rem;
    transition: 0.2s 0.7s ease-in-out;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.registerForm{
    z-index: 1;
    opacity: 0;
}

form.signinForm{
    z-index: 2;
}

.title{
    font-size: 2.2rem;
    color: rgb(2, 2, 73);
    margin-bottom: 10px;
}

.inputField{
    max-width: 380px;
    width: 100%;
    height: 55px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 85% 85%;
    color: #f0f0f0;
    padding: 0 0.4rem;
    position: relative;
}

.inputField input{
    background: none;
    outline: none;
    border: 0.01;
    border-radius: 55px;
    padding: 0 1rem;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(2, 2, 52);
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

.btn{
    width: 200px;
    height: 50px;
    border: 0.01;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover{
    background-color:rgb(41, 41, 152);
}

.panelContainer{
    position: absolute;
width: 100vw;
height: 100hw;
top: 0;
left: 0;
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around ;
    text-align: center;
    z-index: 7;
}

.leftPanel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.rightPanel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content{
    color: white;
    transition: .9s .6s ease-in-out;
    transition-delay: 0.6s;

}

.panel h3{
    font-size: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.image {

 width: 115%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }

.btn.transpast{
    margin: 0;
    background: none;
    border: 2px solid white;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.rightPanel.content, .rightPanel .image{
    transform: translateX(800px);

}


/*ANIMATION*/

.wrapper.signUpMode:before{
    transform: translate(100%,-50%);
    right: 52%;
}

.wrapper.signUpMode .leftPanel .image,
.wrapper.signUpMode .leftPanel .content{
transform: translateX(-800px);
}

.wrapper.signUpMode .signContainer {
    left: 25%;
  }
  
  .wrapper.signUpMode form.registerForm {
    opacity: 1;
    z-index: 2;
  }
  
  .wrapper.signUpMode form.signinForm {
    opacity: 0;
    z-index: 1;
  }

.wrapper.signUpMode .rightPanel .image,
.wrapper.signUpMode .rightPanel .content{
    transform: translateX(0px);
    }
        

.wrapper.signUpMode .leftPanel {
        pointer-events: none;
      }

.wrapper.signUpMode .rightPanel { 
        pointer-events: all;
      }